Source: ros-kilted-jrl-cmakemodules
Section: misc
Priority: optional
Maintainer: "Guilhem Saurel" <guilhem.saurel@laas.fr>
Build-Depends: debhelper (>= 9.0.0), catch2 <!nocheck>, cmake, doxygen, git <!nocheck>, libboost-python-dev <!nocheck>, libeigen3-dev <!nocheck>, libmatio-dev <!nocheck>, libsimde-dev <!nocheck>, nanobind-dev <!nocheck>, pkg-config, python3-numpy <!nocheck>, python3-pytest <!nocheck>, python3-typing-extensions <!nocheck>, ros-kilted-ros-workspace
Homepage: https://github.com/jrl-umi3218/jrl-cmakemodules
Standards-Version: 3.9.2

Package: ros-kilted-jrl-cmakemodules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, doxygen, pkg-config, ros-kilted-ros-workspace
Description: CMake utility toolbox
